<div class="col-md-6 offset-md-3 central">
    <p class="title">Crie uma conta profissional </p>
    <p class="subtitle">Preencha seus dados para ter acesso</p>
    <div class="form-group groupItem">
        <label class="labelInfo">Nome Completo </label><br>
        <input type="text" class="form-control inputPadrao" id="nome" name="nome"
            placeholder="Digite seu nome completo">
    </div>
    <div class="form-group groupItem">
        <label class="labelInfo">E-mail </label><br>
        <input type="text" class="form-control inputPadrao" id="email" name="email"
            placeholder="Digite seu e-mail cadastrado/ ex: email@gmail.com">
    </div>

    <div class="form-group groupItem">
        <label class="labelInfo">Senha </label><br>
        <input type="password" class="form-control inputPadrao" id="senha" name="senha"
            placeholder="Digite uma senha forte">
    </div>

    <div class="form-group groupItem">
        <label class="labelInfo">Confirmação de senha </label><br>
        <input type="password" class="form-control inputPadrao" id="confirmSenha" name="confirmSenha"
            placeholder="Repita a Senha">
    </div>

    <div class="form-group groupItem">
        <input type="checkbox" class="form-control" id="termos" name="termos">
        <label>Eu aceito os <span style="text-decoration: underline; color:cornflowerblue">Termos de Uso & Privacidade</span> e o <span style="text-decoration: underline; color:cornflowerblue">Contrato de Serviço</span></label>
    </div>

    <div class="form-group termNotAccept" id="termNotAccept">
        <label>Os termos não foram aceitos</label>
    </div>
    <div class="form-group passNotSame" id="passNotSame">
        <label>As senhas são diferentes</label>
    </div>

    <button class="btn btn-success btnLogin" style="margin-top:20px;" (click)="checkPassAndAccept()">Criar
        Conta</button>
</div>