<div class="col-md-6 offset-md-3 central">
<p class="title">Nome da empresa <br><span class="subtitle">{{nome}}</span></p>
<p class="title">CNPJ da empresa <br><span class="subtitle">{{cnpj}}</span></p>
<p class="title">CEP <br><span class="subtitle">{{cep}}</span></p>
<p class="title">Endereço <br><span class="subtitle">{{endereco}}, {{complemento}}, {{bairro}}, {{cidade}}, {{estado}}</span></p>
<p class="title">Telefone <br><span class="subtitle">{{celular}}</span></p>
<p class="title">Nome do administrador <br><span class="subtitle">{{nomeAdm}}</span></p>
<p class="title">CPF administrador <br><span class="subtitle">{{cpf}}</span></p>
<p class="title">E-mail <br><span class="subtitle">{{email}}</span></p>

<button routerLink="/login">Home</button>
</div>