<div class="col-md-6 offset-md-3 central">
    <p class="title">Editar Empresa </p>
    <div style="float: left; width: 50%">
        <div class="form-group groupItem">
            <label>Tipo de empresa </label><br>
            <input type="text" class="form-control inputPadrao" id="tipoEmpresa" name="tipoEmpresa">
        </div>

        <div class="form-group groupItem">
            <label>Nome da empresa* </label><br>
            <input type="text" class="form-control inputPadrao" id="nomeEmpresa" name="nomeEmpresa">
        </div>

        <div class="form-group groupItem">
            <label>CNPJ da empresa* </label><br>
            <input type="tel" class="form-control inputPadrao" id="CNPJempresa" name="CNPJempresa"
                mask="00.000.000/0000-00">
        </div>

        <div class="form-group groupItem">
            <label>CEP </label><br>
            <input type="tel" class="form-control inputPadrao" id="cepEmpresa" name="cep">
        </div>

        <div class="form-group groupItem">
            <label>Endereço</label><br>
            <input type="text" class="form-control inputPadrao" id="enderecoEmpresa" name="endereco">
        </div>

        <div class="form-group groupItem">
            <label>Bairro </label><br>
            <input type="text" class="form-control inputPadrao" id="bairroEmpresa" name="bairro">
        </div>

        <div class="form-group groupItem">
            <label>Estado </label><br>
            <input type="text" class="form-control inputPadrao" id="estadoEmpresa" name="estado">
        </div>

        <div class="form-group groupItem">
            <label>Cidade</label><br>
            <input type="text" class="form-control inputPadrao" id="cidadeEmpresa" name="cidade">
        </div>

        <div class="form-group groupItem">
            <label>Complemento </label><br>
            <input type="text" class="form-control inputPadrao" id="complementoEmpresa" name="complemento">
        </div>
        <button class="btn btn-success btnSave" style="margin-top:20px;" (click)="passInfos()">Salvar</button>
        <button class="btn btn-success btnCancel" style="margin-top:20px;" routerLink="/telaInicial">Cancelar</button>

    </div>


    <div style="float: right; width: 50%">
        <div class="form-group groupItem">
            <label>Celular* </label><br>
            <input type="text" class="form-control inputPadrao" id="celularAdmin" name="celular">
        </div>

        <div class="form-group groupItem">
            <label>Nome do administrador* </label><br>
            <input type="text" class="form-control inputPadrao" id="nomeAdmin" name="nomeAdmin">
        </div>

        <div class="form-group groupItem">
            <label>CPF </label><br>
            <input type="text" class="form-control inputPadrao" id="cpfAdmin" name="cpf" mask="000.000.000-AA">
        </div>

        <div class="form-group groupItem">
            <label>E-mail* </label><br>
            <input type="text" class="form-control inputPadrao" id="emailAdmin" name="e-mail">
        </div>
    </div>

</div>